@tailwind base;
@tailwind components;
@tailwind utilities;

:root {
  --card-bg: rgba(255,255,255,0.03);
}

body {
  @apply bg-gradient-to-b from-gray-900 via-gray-900 to-gray-950;
}

.scrollbar-hide::-webkit-scrollbar { display: none; }
